shipping.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Copyright 2016 Google Inc. All Rights 
  Reserved. Licensed under the Apache License, Version 2.0 (the "License"); you may 
  not use this file except in compliance with the License. You may obtain a copy of 
  the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable 
  law or agreed to in writing, software distributed under the License is distributed 
  on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express 
  or implied. See the License for the specific language governing permissions and limitations 
  under the License. -->
<wsdl:definitions targetNamespace="http://github.com/google/dynamex-proto"
                  xmlns:ns="http://github.com/google/dynamex-proto"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <wsdl:types>
    <xs:schema targetNamespace="http://github.com/google/dynamex-proto"
               attributeFormDefault="qualified"
               elementFormDefault="qualified">
      <xs:complexType name="Parcel">
        <xs:sequence>
          <xs:element name="barcode" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="weight" type="xs:double" minOccurs="0" maxOccurs="1"/>
          <xs:element name="weight_unit" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Goods">
        <xs:sequence>
          <xs:element name="parcel" type="ns:Parcel" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:element name="goods_ref1" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="goods_ref2" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:complexType>
      <xs:complexType name="PostalAddress">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="3"/>
          <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="phone_number" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="StopType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PICKUP"/>
          <xs:enumeration value="DELIVERY"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="SignatureRequirement">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SIGNATURE_REQUIRED"/>
          <xs:enumeration value="NO_SIGNATURE_REQUIRED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ServiceLevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SAME_DAY"/>
          <xs:enumeration value="GROUND"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Stop">
        <xs:sequence>
          <xs:element name="type" type="ns:StopType" minOccurs="0" maxOccurs="1"/>
          <xs:element name="date" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="service_level" type="ns:ServiceLevel" minOccurs="0" maxOccurs="1"/>
          <xs:element name="consignee" type="ns:PostalAddress" minOccurs="0" maxOccurs="1"/>
          <xs:element name="shipper" type="ns:PostalAddress" minOccurs="0" maxOccurs="1"/>
          <xs:element name="signature_requirement" type="ns:SignatureRequirement" minOccurs="0" maxOccurs="1"/>
          <xs:element name="special_instructions" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="reference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="goods" type="ns:Goods" minOccurs="0" maxOccurs="unbounded"/>
          <!-- Times here in YYYYMMDDHHMMSS or HHMMSS in local time.
            -- Represents the requested arrival and departure times,
            -- intended as windows for scheduling pickups. -->
          <xs:element name="req_arr_time" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="req_dep_time" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AccountDetails">
        <xs:sequence>
          <xs:element name="username" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="password" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="account_number" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CreateShipmentRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="auth" type="ns:AccountDetails" minOccurs="0" maxOccurs="1"/>
            <xs:element name="stop" type="ns:Stop" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateShipmentResponse">
        <xs:complexType>
          <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CreateShipmentRequest">
    <wsdl:part name="parameters" element="ns:CreateShipmentRequest"/>
  </wsdl:message>
  <wsdl:message name="CreateShipmentResponse">
    <wsdl:part name="parameters" element="ns:CreateShipmentResponse"/>
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="createShipment">
      <wsdl:input message="ns:CreateShipmentRequest"/>
      <wsdl:output message="ns:CreateShipmentResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HttpBinding" type="ns:PortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="CreateShipment">
      <http:operation location="CreateShipment"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dynamex">
    <wsdl:port name="DynamexEndpoint" binding="ns:HttpBinding">
      <soap:address location="https://webservice.dynamex.com/services/Ship1.CreateLabels/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
