shipping.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
Copyright 2016 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.-->
<wsdl:definitions targetNamespace="http://github.com/google/dynamex-proto"
                  xmlns:ns="http://github.com/google/dynamex-proto"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:documentation>PackageTracking10</wsdl:documentation>
  <wsdl:types>
    <xs:schema targetNamespace="http://github.com/google/dynamex-proto"
               attributeFormDefault="qualified"
               elementFormDefault="qualified">
      <xs:complexType name="PostalAddress">
        <xs:sequence>
          <xs:element name="recipientName" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="phoneNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="addressLine" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="localityName" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="administrativeAreaName" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="postalCodeNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="countryNameCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AccountDetails">
        <xs:sequence>
          <xs:element name="accountNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="username" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="password" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeliveryWindow">
        <xs:sequence>
          <xs:element name="windowStartMillis" type="xs:long" minOccurs="0" maxOccurs="1"/>
          <xs:element name="windowEndMillis" type="xs:long" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="DeliveryFailureBehavior">
        <xs:restriction base="xs:string">
          <xs:enumeration value="REDELIVER_NEXT_DAY_3_TIMES"/>
          <xs:enumeration value="DISCARD"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="DeliveryOptions">
        <xs:sequence>
          <xs:element name="signatureRequired" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
          <xs:element name="containsAlcohol" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
          <xs:element name="containsPerishables" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
          <xs:element name="deliveryFailureBehavior" type="ns:DeliveryFailureBehavior" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RequestedLabel">
        <xs:sequence>
          <xs:element name="trackingNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referenceNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Shipment">
        <xs:sequence>
          <xs:element name="requestedLabel" type="ns:RequestedLabel" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="returnAddress" type="ns:PostalAddress" minOccurs="0" maxOccurs="1"/>
          <xs:element name="pickupAddress" type="ns:PostalAddress" minOccurs="0" maxOccurs="1"/>
          <xs:element name="recipientAddress" type="ns:PostalAddress" minOccurs="0" maxOccurs="1"/>
          <xs:element name="deliveryInstructions" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="deliveryWindow" type="ns:DeliveryWindow" minOccurs="0" maxOccurs="1"/>
          <xs:element name="deliveryOptions" type="ns:DeliveryOptions" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShipRequest">
        <xs:sequence>
          <xs:element name="accountDetails" type="ns:AccountDetails" minOccurs="0" maxOccurs="1"/>
          <xs:element name="shipment" type="ns:Shipment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LabelData">
        <xs:sequence>
          <xs:element name="trackingNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="sortingCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShipmentResponse">
        <xs:choice>
          <xs:element name="labelData" type="ns:LabelData" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="error" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="CreateLabelsResponse">
        <xs:choice>
          <xs:element name="shipment" type="ns:ShipmentResponse" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="error" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CreateLabelsRequest">
    <wsdl:part name="parameters" element="ns:CreateLabelsRequest"/>
  </wsdl:message>
  <wsdl:message name="CreateLabelsResponse">
    <wsdl:part name="parameters" element="ns:CreateLabelsResponse"/>
  </wsdl:message>
  <wsdl:portType name="ShipPortType">
    <wsdl:operation name="getPackageTracking">
      <wsdl:input message="ns:getPackageTracking"/>
      <wsdl:output message="ns:getPackageTrackingResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateLabelsHttpBinding" type="ns:ShipPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="CreateLabels">
      <http:operation location="CreateLabels"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ship1">
    <wsdl:port name="CreateLabelsEndpoint" binding="ns:CreateLabels">
      <soap:address location="https://webservice.dynamex.com/services/Ship1.CreateLabels/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

